.text, .listItem {
    line-height: 1.5;
    background: rgb(42,48,60);
    font-size: 1.25rem;
    font-weight: 300;
}

.listItem {
    margin-left: 30px;
}

.header {
    margin: 30px 0;
    font-size: 3rem;
    font-weight: 300;
    background: rgb(42,48,60);
}