.container {
    --vertical-margin: 30px;
}

.container {
    margin: var(--vertical-margin) 0;
    text-align: center;
}

.heroHeader {
    margin: var(--vertical-margin) 0;
    font-size: 6rem;
    font-weight: 400;
}

.heroText {
    margin: 20px 0;
    font-size: 1.5rem;
    font-weight: 300;
}

@media screen and (max-width: 600px) {
    .heroHeader {
        margin: 20px 0;
        font-size: 3rem;
    }
    .heroText {
        margin: 20px 0;
        font-size: 1.25rem;
    }
}