.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.spinnerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

@media (max-width: 600px) {
    .container {
        justify-content: center;
        margin: 0;
    }
    .spinnerContainer {
        height: 100px;
    }
}


.rotate {
    animation: rotation 1s infinite linear;
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }